<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Finder</title>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <a href="/">Search</a>
      <a href="results">Results</a>
      <a href="about">About</a>
    </nav>
    <h1>Finding Books to Read!</h1>
    <%= yield %>
    <!-- <footer>Made by: Billy Chen</footer> -->
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
